.card {
    cursor: pointer;
}
.card:hover {
    background-color: #dedede;
}
.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.footer .col-12 .card {
    border: 0;
    border-top: 3px solid #dedede;
}
.footer .col-12 .card a {
    color: blue;
    text-decoration: none;
}
